In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv(r'D:\Internship\Heart_disease_prediction\datasets\dataset.csv')

In [4]:
df.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [5]:
df.shape

(1190, 12)

In [6]:
df.columns = [col.replace(" ", "_") for col in df.columns]

In [7]:
df = df[df['resting_bp_s'] != 0]

In [8]:
df.loc[df['cholesterol'] == 0, 'cholesterol'] = np.nan
df.dropna(inplace=True)

In [9]:
df.to_csv("D:\Internship\Heart_disease_prediction\datasets\cleaned_dataset.csv",index=False)